body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./images/toguz.jpg");
    background-size: cover;
    background-position: center center; /* Center both horizontally and vertically */
    background-repeat: no-repeat;
    height: 100vh;
}

.main {
    padding: 20px;

    &__inner {
        margin-top: 20px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 64px;
        height: 64px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
