body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #181818 !important;
}
